.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(39, 42, 61);
}
.spinner {
  color: white;
  margin-top: 0.5em;
}

.message {
  color: white;
  font-size: 1.2em;
  margin-top: 0.4em;
}
.logs {
  background-color: white;
  color: black;
  font-size: 1em;
  margin: 0.4em;
  height: 25vh;
  max-height: 25vh;
  width: 90vw;
  overflow: auto;
  padding: 1em;
}
.log {
  padding: 0;
  margin: 0.1em;
}
.btnShowLogs {
  background-color: #0c531d00;
  border-color: #28a74600;
  color: #898989;
  font-size: 0.8em;
}
